# OS
.DS_Store
.Trashes
.Spotlight-V100
.fseventsd
Thumbs.db
Desktop.ini
*.lnk

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*